* {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}

.gameboard {
width: 100%;
height: 800px;
border-bottom: 15px solid rgb(255, 225, 126);
margin: 0 auto;
position: relative;
overflow: hidden;
background: linear-gradient(rgb(199, 230, 250), rgb(95, 170, 255) );
}

.peixe{
position: absolute;
bottom: 80%;
width: 130px;
animation: peixeanimacao 20s infinite linear;

}

.peixecinza{
    position: absolute;
    bottom: 50%;
    width: 130px;
    animation: peixecinzaanimacao 20s infinite linear;
    
    }

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.8s infinite linear;
    }

.pinguim{
width: 120px;
position: absolute;
bottom: 0;
}


.pulo{
    animation: pulo 600ms ease-out;
}

@keyframes pipe-animation{
from{
right: -80px;
}
to{
right: 100%;
}
}    


@keyframes pulo{
0%{
    bottom: 0px;
}
40%{
    bottom: 180px;
    }
50%{
bottom: 180px;
}
60%{
    bottom: 180px;
    }
100%{
bottom: 0px;
}
}


@keyframes peixeanimacao {
    from{
        right: -100px;
    }
to{
right: 100%;
}
}


@keyframes peixecinzaanimacao {
    from{
        left: -100px;
    }
to{
left: 100%;
}
}